CALLER_UID=1000
CALLER_GID=1000
WORKSPACE=./workspace
PROJECTS=${HOME}/Projects

CLAUDE_DOT_DIR=${HOME}/UserData/.opt/.claude
CLAUDE_CONFIG=${HOME}/UserData/.opt/.claude.json
CLAUDE_STATE_DIR=${HOME}/UserData/.opt/claude/state/claude

CODEX_DOT_DIR=${HOME}/UserData/.opt/.codex

